/* Reset a few things. */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td 
{ margin: 0; padding: 0; border: 0 none; outline: 0; font-size: 100%; 
  font-weight: inherit; font-style:inherit; font-family:inherit; 
  line-height: inherit; vertical-align: baseline; text-align:inherit;
  color:inherit; }

body { font: normal 10pt/1.375em helvetica, arial, sans-serif; text-align:left;
       margin: 1.375em 10%; min-width: 40ex; max-width: 72ex;
       color: black;  /* url(line-height-22.gif) */; }

table { border-spacing: 0px; }
td.ok { text-align: center; }
td.err { text-align: center; }
td.unknown { text-align: center; }
b { font-weight: bold }
em { font-style: italic } 
th { padding-right: 5px; padding-left: 5px; text-align: center}

.ok { color: #007700; }
.err { color: #990000; }
.unknown { color: #aaaaaa; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }

th.filler { background-color: white }
.firstpkg { text-align: right; padding-right: 5px; background-color: #fafafa; }
.lastpkg { text-align: left; padding-left: 5px; background-color: #fafafa; }
colgroup:nth-child(even).results { background-color: #f9f9f9 }
colgroup:nth-child(odd).results { background-color: #f1f1f1 }
colgroup.results { text-align: center; }
.pkgname { background-color: #eeeeff }
.sortrow { background-color: #222299; color: white }
td { border-bottom: 1px dashed #dddddd }
.secondrow { background-color: #4444aa; color: white; font-size: 95% }
.thirdrow { background-color: #6666bb; color: white; font-size: 90% }
